#banner {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  background-image: url('../images/banner1.png'), url('../images/banner2.png');
  background-position: 50%, 150%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transition: background-position ease 700ms;
}

.link{
  cursor: pointer;
}

#bannerContainer {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 2;
  overflow: hidden;
}

#navbar {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

#navbar.purple,
#navbar.purple .upper-link {
  color: #0f1665 !important;
}

#navbar.purple #btnLogin {
  color: white;
}

.bannerNav {
  position: absolute;
  top: 50%;
  padding: 10px;
  background-color: white;
  border-radius: 12px;
  cursor: pointer;
  z-index: 10;
}

#bannerNavLeft {
  left: 30px;
}

#bannerNavLeft img {
  transform: rotate(180deg);
}

#bannerNavRight {
  right: 30px;
}

#navbarHamburguer {
  display: none;
  padding: 10px 15px;
  background-color: #4650bc;
  border-radius: 16px 0 0 16px;
  cursor: pointer;
  box-shadow: 2px 3px 16px rgba(0, 0, 0, 0.3);
}

#navbarHamburguer img {
  width: 15px;
}

#navbarLeft,
#navbarRight {
  height: 100%;
}

#navbarLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  letter-spacing: 1.6px;
  text-transform: lowercase;
  font-weight: bold;
  font-size: 22px;
}

#navbarRight {
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbarRight .top {
  display: none;
}

#navbarRight .top .title {
  text-transform: uppercase;
  color: white;
  font-family: 'Open Sans';
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1.4px;
}

#menuContainer {
  margin-right: 75px;
}

#menuContainer ul {
  list-style-type: none;
}

#menuContainer ul li {
  display: inline;
  margin: 0 20px;
  opacity: 0.9;
  font-weight: bold;
  font-size: 14px;
}

#btnLogin {
  text-transform: uppercase;
  padding: 20px 53px;
  background-color: #4650bc;
  border-radius: 16px 0 0 16px;
  font-size: 16px;
  letter-spacing: 1.6px;
  font-weight: normal;
  cursor: pointer;
}

.upper-link {
  text-transform: uppercase;
  color: #5dff9e;
}

#bannerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100% - 200px);
}

#bannerContentLeft {
  width: 40vw;
  position: relative;
  padding-left: 150px;
  padding-top: 70px;
  transition: all ease 100ms;
}

#bannerContentLeft .title {
  font-size: 38px;
  letter-spacing: -1.52px;
  color: #ffffff;
  text-transform: lowercase;
  font-weight: normal;
}

#bannerContentLeft .bold-title {
  font-size: 38px;
  font-weight: bold;
  letter-spacing: -1.52px;
  color: #5dff9e;
  text-transform: lowercase;
}

#bannerContentLeft .description {
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0px;
  color: #f8f9ff;
  opacity: 1;
  margin-top: 15px;
}

#circle-svg {
  position: absolute;
  top: 0;
  left: -100px;
  z-index: -1;
}

#circle-svg circle {
  /* fill: #aa3361; */
  fill: #ad2159;
  opacity: 0.31;
}

#bannerContentRight {
  width: 40vw;
  position: relative;
  padding-right: 150px;
  padding-top: 70px;
  padding-left: 25%;
  transition: opacity ease 100ms;
}

.social-proof {
  background-color: #fff;
  border-radius: 57px;
  margin: 20px;
  display: inline-box;
  width: 345px;
  padding: 0 25px 0 0;
  position: relative;
}

.social-proof.middle {
  margin-left: -100px;
}

.social-proof .content {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-proof .content img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.social-proof .contentContainer {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.social-proof .text {
  font-size: 18px;
  letter-spacing: 0px;
  color: #0f1665;
  margin-bottom: 7px;
}

.social-proof .title,
.social-proof .description {
  font-size: 14px;
  letter-spacing: 0px;
  color: #4650bc;
}

.social-proof .quotes {
  position: absolute;
  width: 40px;
  height: 40px;
  right: -15px;
  top: 0px;
  fill: #4650bc;
}

/*
  $xxs: 320px;
  $xs: 480px;
  $sm: 600px;
  $md: 768px;
  $lg: 900px;
  $xl: 1024px;
  $xxl: 1200px;
  $xxxl: 1500px; 
*/

@media only screen and (max-width: 800px) and (max-height: 440px) {
  #bannerContentRight {
    display: none !important;
  }
}

@media only screen and (max-width: 1250px) {
  #bannerContentLeft {
    padding-left: 80px;
  }
  #bannerContentRight {
    padding-right: 80px;
  }
}

@media only screen and (max-width: 1100px) {
  #bannerContentRight {
    width: 35vw;
  }

  #menuContainer ul li {
    margin: 0 10px;
  }

  #menuContainer {
    margin-right: 40px;
  }
}

@media only screen and (max-width: 980px) {
  #bannerContentRight {
    padding-left: 15%;
  }

  #btnLogin {
    padding: 20px 30px;
  }

  #menuContainer ul li {
    margin: 0 5px;
  }

  #navbarLeft {
    padding: 0 20px;
  }
}

#blackoverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all ease 200ms;
  z-index: 25;
  opacity: 0;
}

@media only screen and (max-width: 800px) {
  #navbarRight {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #4650bc;
    z-index: 33;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 20px 0 0 20px;
    transition: right ease 400ms;
    height: 100vh;
  }

  #navbarRight .top {
    display: flex;
    position: absolute;
    top: 40px;
    justify-content: space-between;
    width: 80%;
  }

  #btnLogin {
    color: #4650bc;
    background-color: white;
    border-radius: 12px;
    padding: 15px 50px;
  }

  #navbarRight .top .times img {
    width: 15px;
  }

  #menuContainer ul li {
    display: block;
    margin: 30px 0;
  }

  #bannerNavRight {
    right: 0;
    border-radius: 12px 0 0 12px;
    padding-right: 5px;
  }

  #bannerNavLeft {
    left: 0;
    border-radius: 0 12px 12px 0;
    padding-left: 5px;
  }

  #navbarHamburguer {
    display: block;
    position: fixed;
    right: 0;
    top: 20px;
    z-index: 25;
  }

  #bannerContent {
    flex-direction: column;
    justify-content: space-around;
  }
  #bannerContentLeft {
    width: 85vw;
    padding: 0;
    padding-top: 100px;
  }
  .social-proof {
    display: none;
  }
  .social-proof.middle {
    display: block;
    width: 80vw;
    margin: 0;
    margin-top: 20px;
  }

  #bannerContentRight {
    padding: 0;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    flex-direction: column;
  }
}

@media only screen and (max-width: 500px) {
  #bannerContentLeft {
    width: 80vw;
  }
}

@media only screen and (max-width: 400px) {
  #bannerContentLeft {
    padding-top: 50px;
  }

  #bannerContentLeft .title,
  #bannerContentLeft .bold-title {
    line-height: 105%;
  }
}

@media only screen and (max-width: 350px) {
  #bannerContentRight {
    display: none !important;
  }
}

@media only screen and (max-height: 600px) {
  #bannerContentLeft .title,
  #bannerContentLeft .bold-title {
    font-size: 30px;
  }

  #bannerContentLeft {
    margin-top: 70px;
  }

  .social-proof .content img {
    width: 70px;
    height: 70px;
  }

  .social-proof.middle {
    margin-top: 0;
  }
}
